<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação Web MVC</title>
</head>
<body>
    <h1>Aplicação Web MVC</h1>
    <hr>
    <a href="/Principal/Index">Principal</a> |
    <a href="/Produto/Index">Produtos</a> |
    <a href="/Principal/Contato">Contato</a>
    <hr>
    @RenderBody()
    <hr>
    <footer>
        <h4>Copyright &copy; Ifes 2022</h4>
    </footer>
</body>
</html>