<h2>Produtos</h2>
<ol>
    <li><h3>Banana (5,90)</h3></li>
    <li><h3>Maçã (3,90)</h3></li>
    <li><h3>Morango (9,60)</h3></li>
    <li><h3>Uva (7,49)</h3></li>
    <li><h3>Pera (8,79)</h3></li>        
</ol>
